body{
    font-family: "Consolas";
    background-color: #e2e2e2;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.login-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    padding: 20px;
    background-color: white;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}

.login-form__item{
    display: block;
    margin-top: 20px;
}

.login-form_error{
    margin: 12px auto;
    text-align: center;
    color: darkred;
}

label{
    display: block;
    font-size: 12px;
}

input{
    padding-left: 8px;
    margin-top: 8px;
    display: block;
    width: 100%;
    height: 40px;
}

button{
    padding: 10px 50px;
}

.profile-page{
    padding: 50px 0;
}

.profile-page__error{
    text-align: center;
}

.profile-page__card{
    margin: 50px auto;
    max-width: 700px;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    background-color: white;
}

.profile-page__card-image{
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
}

.profile-page__card-content{
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.profile-page__card-image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-page__card-social{
    margin: 0 8px 0 0;
    display: inline-block;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}

.profile-page__card-social:first-of-type{
    margin-left: 8px;
}